.main-footer{
    background-color: #010101;   
    color: aliceblue;
}
.App-footer{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.left-side{
    width: 25%;
}
.footer-tabs{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer-tabs a{
    color: aliceblue;
    margin-bottom: 10px;
}